.Random-values{
padding: 3rem;
text-align: left;
overflow-y: hidden;
height: 63px;
padding: 1rem;
margin-bottom: 1rem;
position: relative;
}
   .view-more{
     position: absolute;
     color: rgb(75, 73, 73);
    bottom: -2px;
    right: 0;
    cursor:pointer;
    border: none;
    padding:0;
    background-color: white;
   }
.open {
    overflow-y: hidden;
  height: auto;
}
