
.main-header{
    position:sticky;
    z-index: 1000;
    top: 0;
    background-color: rgb(247, 250, 251);
    padding: 1rem;
    width: 100%;
}
.min-bar{
background-color: white;
display: flex;
width: max-content;
font-size: 14px;
color: grey;
gap: 12px;
margin: 0 auto;
padding: 2px 5px;
border: none;

}
.min-bar p {
    margin: 0;
    padding: 6px 6px;
}
.min-bar p:hover{
    color: white;
    background-color: rgb(93, 168, 248);
    border-radius: 2px;
}
.logo{
    width: 1.5rem;
    height: 1.5rem;
    padding: 5px;
    margin-bottom: -7px;
   

}
.logo-container{
text-align: left;

}
.bi-arrow-up-short{
    color: rgb(138, 244, 138);
}
@media (max-width:600px){
    .main-header{
     background-color: white;
    }
    .min-bar{
        position: fixed;
        bottom: 0;
        gap: 5px;
        padding: 5px 0;
        margin: 0 auto;
    }

}
